{{ define "menu-node" }}
  <li>
    {{ if .HasChildren }}
      <a href="{{.URL}}" >{{ .Name }}</a>
      <ul>
        {{ range .Children }}
          {{ template "menu-node" .}}
        {{ end }}
      </ul>
    {{else}}
      <a href="{{.URL}}" >{{ .Name }}</a>
    {{end}}
  </li>
{{ end }}

<!-- menu start -->

<div class="version versioned">
  {{ if $.Site.Params.version }}
    <span class="number"><a>Version {{ $.Site.Params.version }}</a>
      {{ if $.Site.Params.versionAlias }}
        ({{ $.Site.Params.versionAlias }})
      {{ end }}
    </span>
  {{ end }}
</div>


{{ $currentPage := . }}
<ul class="site-menu-items">
  {{ range .Site.Menus.main }}
  {{ if or ($currentPage.IsMenuCurrent .Menu . ) ($currentPage.HasMenuCurrent .Menu . ) }}
      {{ template "menu-node" . }}
    {{ end }}
  {{ end }}
</ul>


<div class="meta">
  <h4 class="header">
    <span class="toggle glyphicon glyphicon-chevron-up"></span>
    Options
  </h4>

  <div class="content">
    <label for="version-select">Version:</label>
    <select id="version-select" base-url="{{ $.Site.BaseURL }}">
      <option>Loading versions...</option>
    </select>
  </div>
</div>

<!-- menu end -->
